* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16pt;
}

body {
    background-image: url("../images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 2px 5px #146702;
}

.nav .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.nav .links {
    display: flex;
    justify-content: center;
    grid-column: 1;
}

.nav .links ul {
    list-style: none;
    display: flex;
}

.nav .links ul li {
    color: #146702;
    cursor: pointer;
    padding: 15px;
    text-align: right;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    font-size: 18pt;
    font-weight: bold;
    transition: 0.5s;
}

.nav .links ul li:hover::before {
    content: "";
    border: 2px solid #146702;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-left: 20px;
    animation: width-change 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes width-change {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.logo::before {
    content: "";
    border: 2px solid #146702;
    position: relative;
    width: 200px;
}

.logo::after {
    content: "";
    border: 2px solid #146702;
    position: relative;
    width: 200px;
}

.logo .img {
    width: 200px;
}

.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    grid-column: 2;
}

.logout button {
    background-color: #146702;
    padding: 10px;
    margin-right: 5px;
    border: none;
    color: rgb(228, 228, 228);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.logout button:hover {
    padding-left: 15px;
    padding-right: 15px;
}

.logout span {
    font-size: 22pt;
    color: #146702;
    margin-left: 10px;
}

.logout span i {
    font-size: 24pt;
    color: #146702;
}